torch>=2.1.0
transformers>=4.40.0
accelerate>=0.29.0
huggingface_hub==0.33.2
hf_transfer
deepspeed>=0.14.0
datasets
trl
wandb
matplotlib
typing_extensions>=4.10.0
ipython
tiktoken
lm_eval 
datasets
dotenv
bitsandbytes
huggingface_hub[cli]